# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Environments and configurations
.env
.venv/
venv/
ENV/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
test_logs/
*.parquet
